*,*:before, *:after {

    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
    
    }

body{
    margin:20px;
}

td, th {
    border-top: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
}

table{
    border-collapse: collapse;
    margin-top: 30px;
}
      
.container {
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 80%;
}

h4{
    font-size: 30px;
}
img{
    width: 100%;
}
/*display: grid;
    grid-template-columns: repeat(6, 1fr); */
.row{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: repeat(6, 1fr) ;
       
}

.card{
    width: 150px;
    margin: auto;
}

.card-body h5,.card-body p,.card-body button{
    margin-top: 10px;
}

.card-body button{
    background-color: black;
    color: white;
    padding: 5px;
}

